<div class="container">
	<div class="card-panel cyan lighten-3 center-align">
		<h4 class="#e91e63 pink-text">To Do List App</h4>
	</div><br>
	<div class="row">
		<div class="col s6">
			<input type="text" id="addItem" name="addItem" placeholder="Add Item" #addItems="ngModel" [(ngModel)]="newTodo.title" required>
		</div>
		<div class="col s6">
			<button class="waves-effect waves-light btn red" [disabled]="!addItems.valid" (click)="addItem()">Add
				<i class="fa fa-plus"></i>
			</button>
		</div>

	</div>
</div>
<br>
<br>
<div class="container">
	<ul class="collection">
		<li class="collection-item" *ngFor='let list of todos'>
			{{list.title}}
			<a class="secondary-content">
				<i (click)="editTodo(list)" class="fa fa-pencil fa-lg"></i>
			</a>
			<a class="secondary-content">
				<i (click)="deleteTodo(list)" class="fa fa-trash fa-lg"></i>
			</a>
		</li>
	</ul>
</div>